::-webkit-scrollbar {
    width: 0.6em;
    height: 12em;
    background-color: #49B1F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #49B1F5;
}


/*滑块效果*/

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 5px #49B1F5;
    background: #49B1F5;
}

* {
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

li {
    list-style: none;
}

body {
    /* Safari */
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    background-color: #ECECEC;
    /* background: url(https://cdn.jsdelivr.net/gh/evrstr/img/blog_evrstr/alice-moore-E--AUpYXbjM-unsplash.jpg) no-repeat;
    /* 固定背景图片位置 */
    background-attachment: fixed;
    background-size: 100% auto;
    */ z-index: -10;
}

.fixed {
    position: fixed;
}

.nav {
    /* Safari */
    display: -webkit-flex;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 3.75em;
    padding: 0 2em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 3.75em;
}

.nav a {
    font-size: 1.25em;
    color: #000;
}

.nav ul {
    /* Safari */
    display: -webkit-flex;
    display: flex;
    min-width: 8em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1em;
    margin-right: 2.5em;
}

.nav ul li a {
    font-size: 1em;
}

.nav a:hover {
    color: #36abf8;
}

.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: 4em 1em 0 1em;
}

.content .card {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 15.625em;
    height: 20em;
    background-color: #fff;
    margin: 0.5em;
    border-radius: 0.3em;
    margin-right: 0.25em;
}

.content .card a img {
    display: block;
    width: 15.625em;
    height: 15.625em;
}

.content .card .item .item_title {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0 0.25em;
    font-weight: normal;
}

.content .card .item .item_title a {
    font-size: 1em;
}

.content .card .item .item_tag span {
    width: auto;
    font-weight: 400;
    height: 1.25m;
    line-height: 1.25em;
    font-size: 0.8em;
    color: #fff;
    margin: 0.625em 0 0 0.625em;
    padding: 0 0.5em;
    border-radius: 0.625em;
    background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
}


/* .card:nth-last-child(1) {
    margin-right: 42.5%;
} */

h2:hover {
    cursor: pointer;
}

.control_fixed {
    position: fixed;
    top: 10%;
    right: 0.25em;
}

.control_fixed span {
    font-size: 0.75em;
    color: rebeccapurple;
    text-align: center;
}

#download_title {
    font-size: 1em;
    color: red;
    margin: 0.5em 0;
}

#control {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

button {
    margin-top: 0.5em;
    width: 1em;
    height: 2em;
    font-size: 1em;
    font-weight: 700;
    border: 0.16em solid rgb(157, 226, 247);
    outline-style: none;
    border-radius: 0.3em;
    background-color: rgb(157, 226, 247);
    color: #fff;
}

button:hover {
    border: 0.16em solid rgb(17, 182, 233);
    background-color: rgb(17, 182, 233);
}

.input {
    width: 4em;
    height: 1.25em;
    line-height: 1.25em;
    padding-left: 0.25em;
    border: 0.16em solid #fff;
    outline-style: none;
    border-radius: 0.3em;
}

#download {
    width: 100%;
    margin-left: auto;
}

#uptime .foot {
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    color: #999fa6;
}

#footer {
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
    color: #999fa6;
    padding: 22px 0;
    background-color: rgba(44, 29, 29, 0.1);
}

#footer a {
    color: #ff4444;
    font-weight: 700;
}

#json_src {
    width: 44em;
    height: 2em;
    max-width: 36%;
    margin-top: 1em;
    line-height: 3.75em;
    border: 0.16em solid #fff;
    border-bottom: 0.08em solid rgb(172, 172, 172);
    outline-style: none;
    padding-left: 1em;
    border-radius: 0.5em;
    color: rgb(139, 139, 139);
    background-color: rgba(255, 255, 255, 0.5);
}

#json_src:focus {
    box-shadow: 0.1em 0.1em 0.2em rgb(158, 158, 158);
}